/* Search */

.Search {
    padding: 2rem;
  }
  
  .searchIcon {
    border-radius: 4px 0 0 4px;
    color: white;
    background-color: rgb(12, 211, 211);
  }
  
  .container_search {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  .inputSearch {
    border-radius: 0 4px 4px 0;
    border: 1px ridge rgb(226, 226, 226);
    width: 32.8rem;
    height: 20px;
  }
  
  .btn-search {
    cursor: pointer;
    border-radius: 4px;
    color: white;
    border: none;
    padding: 0.5rem;
    width: 34.7rem;
    background-color: rgb(12, 211, 211);
  }
  .btn-search:hover {
    box-shadow: 0 4px 6px 0 rgb(0, 0, 0, 0.24);
  }
  /* todoAdd */
  
  .todoAdd {
    padding: 2rem;
    margin-top: 2.8rem;
  }
  .btn-todoAdd {
    cursor: pointer;
    border-radius: 4px;
    color: white;
    border: none;
    padding: 0.5rem;
    width: 10rem;
    background-color: rgb(12, 211, 211);
  }
  
  .btn-todoAdd:hover {
    box-shadow: 0 4px 6px 0 rgb(0, 0, 0, 0.24);
  }
  
  /* todoList */
  
  .btn-todoList {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
  }
  
  .btn-All {
    cursor: pointer;
    border-radius: 4px;
    color: white;
    border: none;
    padding: 0.5rem;
    width: 20rem;
    background-color: rgb(12, 211, 211);
  }
  .btn-All:hover {
    box-shadow: 0 4px 6px 0 rgb(0, 0, 0, 0.24);
  }
  .btn-Done {
    cursor: pointer;
    border-radius: 4px;
    color: white;
    border: none;
    padding: 0.5rem;
    width: 20rem;
    background-color: rgb(12, 211, 211);
  }
  .btn-Done:hover {
    box-shadow: 0 4px 6px 0 rgb(0, 0, 0, 0.24);
  }
  .btn-Todo {
    cursor: pointer;
    border-radius: 4px;
    color: white;
    border: none;
    padding: 0.8rem;
    width: 20rem;
    background-color: rgb(12, 211, 211);
  }
  .btn-Todo:hover {
    box-shadow: 0 4px 6px 0 rgb(0, 0, 0, 0.24);
  }
  /* todoInput Add */
  
  .TodoInputbodyAdd {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 1rem 0 1rem;
  }
  
  .inputAdd {
    margin-right: 1rem;
    border-radius: 0 4px 4px 0;
    border: 1px ridge rgb(226, 226, 226);
    width: 60%;
    height: 20px;
  }
  
  .btn-todoInputAdd {
    border-radius: 4px;
    color: white;
    border: none;
    padding: 0.25rem;
    width: 20rem;
    background-color: rgb(12, 211, 211);
  }
  .btn-todoInputAdd:hover {
    box-shadow: 0 4px 6px 0 rgb(0, 0, 0, 0.24);
  }
  
  .iconInputAdd {
    border-radius: 4px 0 0 4px;
    color: white;
    background-color: rgb(12, 211, 211);
  }
  
  /* todoInput Edit */
  
  .TodoInputbodyEdit {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 1rem 0 1rem;
  }
  
  .inputEdit {
    margin-right: 1rem;
    border-radius: 0 4px 4px 0;
    border: 1px ridge rgb(226, 226, 226);
    width: 60%;
    height: 20px;
  }
  
  .btn-todoInputEdit {
    border-radius: 4px;
    color: white;
    border: none;
    padding: 0.25rem;
    width: 20rem;
    background-color: rgb(12, 211, 211);
  }
  .btn-todoInputEdit:hover {
    box-shadow: 0 4px 6px 0 rgb(0, 0, 0, 0.24);
  }
  
  .iconInputEdit {
    border-radius: 4px 0 0 4px;
    color: white;
    background-color: rgb(12, 211, 211);
  }
  
  /* todo */
  
  .liTodo {
    margin-right: 3rem;
    padding: 0.6rem;
    border: 1px ridge rgb(226, 226, 226);
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container-todo {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .checkTodo {
    margin-right: 0.9rem;
    margin-bottom: 12px;
  }
  
  .pTodo {
    font-weight: 700;
    text-decoration: line-through;
  }
  
  .btnEditTodo {
    align-items: center;
    cursor: pointer;
    border: none;
    color: rgb(247, 235, 65);
    background-color: transparent;
  }
  
  .btnTrashTodo {
    cursor: pointer;
    border: none;
    color: rgb(240, 68, 68);
    background-color: transparent;
  }
  
  /* tododelete */
  
  .delete {
    padding-top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .btnTodoDelete {
    cursor: pointer;
    border-radius: 4px;
    color: white;
    border: none;
    padding: 0.8rem;
    width: 45%;
    background-color: rgb(231, 79, 79);
  }
  .btnTodoDeleteAll {
    cursor: pointer;
    border-radius: 4px;
    color: white;
    border: none;
    padding: 0.8rem;
    width: 45%;
    background-color: rgb(231, 79, 79);
  }
  
  .btnTodoDeleteAll:hover {
    box-shadow: 0 4px 6px 0 rgb(0, 0, 0, 0.24);
  }
  
  .btnTodoDelete:hover {
    box-shadow: 0 4px 6px 0 rgb(0, 0, 0, 0.24);
  }
  